.logo {
    height: 600px;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.title {
    font-family: 'Saira Stencil One', sans-serif;
}

.repair {
    position: absolute;
    top: 0;
    z-index: -1;
    margin: 0;
    width: 1800px;
}

html, body {
    display: flex;
    overflow-x: visible;
    margin: auto;
    max-width: 1800px;
    flex-direction: column;
}

.contact-info a:visited, .service-link:visited, .home-button2:visited {
    color: blue;
}



@media (max-width: 1200px) {
    html, body {
        overflow-x: clip;
        max-width: 100vw;
        text-align: center;
        height: 100%;
    }

    .logo {
        max-height: 300px;
        margin-top: 10px;
    }

    .title {
        margin-top: 30px;
        font-size: 40px;
        max-width: 100%;
    }

    main {
        display: inline-block;
        flex: 1;
    }

    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vw;
    }

    .main-description, .description2 {
        margin: 10px 30px;
        font-size: 20px;
    }

    .main-description a, .service a{
        text-decoration: none;
    }

    .contact {
        display: block;
        text-decoration: none;
        color: black;
        background-color: rgb(221, 221, 221);
        border: solid black 1px;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 30px 50px;
        font-size: 30px;
        box-shadow: 5px 5px 5px gray;
    }

    .repair {
        display: block;
        max-width: 100%;
        margin: 30px 0;
        position: inherit;
    }

    footer {
        text-align: center;
        background-color: rgb(63, 63, 217);
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1em;
        padding: 10px;
        color: white;
        place-items: center;
    }

    footer p {
        margin-top: 5px;
    }

    footer a {
        text-decoration: none;
        color: white;
    }

    .linkedin, .instagram {
        max-width: 30px;
        margin: 5px;
    }

    .services {
        font-size: 30px;
        margin: 0 20px;
    }

    .services li {
        text-align: left;
    }

    .home-button, .home-button2 {
        text-decoration: none;
        font-size: 20px;
    }

    .contact-info {
        font-size: 25px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: left;
    }

    .contact-info td {
        padding-bottom: 30px;
    }

    .contact-info a {
        text-decoration: none;
    }

    .home-button2 {
        display: flex;
        flex-direction: column;
    }
}